<h1>Perfil</h1>

<img src="{{profile_pic}}" width="100" height="100" alt="" srcset="" />

<div>
  <p>Nombre: {{name}}</p>
  <p>correo: {{email}}</p>
  <p>username: {{username}}</p>
  <p>role: {{role}}</p>
</div>